
!.vscode/extensions.json
# Editor directories and files
# Environment variables
# Logs
# Storybook
# Tests
**/*.stories.tsx
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.idea
.nyc_output/
.storybook/
.vscode/*
coverage/
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
storybook-static/
yarn-debug.log*
yarn-error.log*
